.hero-container {
  position: relative;
  width: 100%;
  margin-top: 0;
  background-color: #171717;

  display: flex;
  height: auto;
  min-height: 30vh;
  overflow-x: hidden;
}
.main-img,
.hero-title {
  height: auto;
}
.main-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title { 
  padding-top: 0;
  background-color: #171717;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
}
.header-text {

  margin: auto;
  margin-top: 5px;
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 20px;
}
.second-text {
  padding-top: 10px;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 1.5px;
}
@media (min-width: 768px) {
  .header-text {

  width:70%;
    letter-spacing: 2px;
    font-size: 26px;
    line-height: 30px;
  }
  .second-text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
  }
}
@media (min-width: 1440px) {
  .hero-container {
    height: 40vh;
  }
  .header-text {
    letter-spacing: 5px;
    font-size: 28px;
    line-height: 45px;
  }
  .second-text {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 3px;
  }
}
@media (min-width: 2100px) {
  .hero-container {
    height: 40vh;
  }
  .header-text {
    padding-top: 10%;
    letter-spacing: 6px;
    font-size: 50px;
    line-height: 65px;
  }
  .second-text {
    padding-top: 8%;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 5px;
  }
}
/*
@media(min-width:1700px){
    .hero-container {
       height:40vh;
    }
    .header-text {
        padding-top:10%;
        letter-spacing: 6px;
        font-size: 250%;
        line-height: 55px;
    }
    .second-text { 
        font-size: 130%;
        line-height: 40px;
        letter-spacing: 5px;
       
    }
} */


/*edit buttons*/
.buton-edit {
  position:absolute;
  top:0;
  right:0;
  width:3rem;
  height: 5px;
  font-size: 10px;
  font-weight: 800;
  letter-spacing:1px;
  padding:0;
  margin: 0;
  border:3px solid rgb(231, 231, 231);
  background-color: yellow;
  color:rgb(255, 0, 55);
}
.input-edit{
 
  width:20rem;
  /* border:5px solid rgb(8, 8, 8); */
  z-index: 1;
}
.text-input{
  box-shadow: 0 8px 16px 0 rgba(88, 73, 73, 0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
  border:3px solid rgb(59, 149, 190);
  background-color: rgb(149, 146, 146);
  color:#171717;
 
}
 .text-input:hover{

  transform:translate(2px, 2px);
}
.text-input::placeholder {
  background-color: rgb(149, 146, 146);
  color:#171717;
}

@media(min-width: 961px) {
  .buton-edit {
    width:7rem;
    height: 35px;
    font-size: 14px;
    padding-top:5px;
  }
}