.ImageContact-container {
 
    position: relative;
    width:100%;
    height: 20vh;
    min-height:50vh;
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center; 
  
   
}


.boldy-first {
   
    font-weight: 600;
    font-size: 16px;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    line-height: 20px;
    letter-spacing: 2px;
    color:rgb(6, 45, 80);
    -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);

    
}
.small-second {
    font-size: 14px;
    padding-left: 0.5rem;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.8px;
    color:rgb(32, 56, 78);
    -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
   
}
.small-third {
    font-size: 20px;
    padding-left: 0.5rem;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.8px;
    color:rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
}
.man {
    width:70%;
   
    margin-left:4rem;

}
.table-contact {
  
    position: absolute;
    width:4rem;
    margin: auto;
    bottom:10px;
    right:10px;
}
/* tr{
    background-color: #7B7676;
} */
/* tr:hover {
    background-color: #c7bfbf;
    border:#7B7676;
    
} */
td {
   
    height: 2rem;
    
}
input {
    background-color: #7B7676;
    color:rgb(255, 255, 255);
}
::placeholder {
    background-color: #7B7676;
    color:aliceblue;
}

.contact-title {
    width:15rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.name-input {
    width:100%;
}

@media( min-width:500px) {
   
    .small{
        display:none;
    }
    .img-contText {
        margin-left: 2rem;
    }
}
@media( min-width:768px) {
    .table-contact {
        bottom:5%;
        width:20rem;
        height: 5rem;
    }
    .boldy-first {
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 2px;
    }
    .small-second {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 2px;
    }
}
@media( min-width:1024px) {
    .boldy-first {
        font-size: 28px;
        padding-top: 2rem;
        line-height: 35px;
        letter-spacing: 4px;
    }
    .small-second {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 2px;
    }
    .table-contact {
        bottom:5%;
        width:25rem;
        height: 6rem;
    }

   
}
@media( min-width:1440px){
    .boldy-first {
        font-size: 26px;
        line-height: 40px;
        letter-spacing: 6px;
        
    }
    .small-second {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 2px;
    }
    .table-contact {
        bottom:5%;
        width:20rem;
        height: 8rem;
        left:2rem;
    }
    
}
