.ImageContact-container {

    position: relative;
    width:100%;
    height: auto;
    min-height:50vh;
    /* margin-bottom: 2rem; */
    background-image: url(../images/ic4.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    background-color: #F7F7F7;
    
}



.boldy-first {
   
    font-weight: 600;
    font-size: 14px;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    line-height: 18px;
    letter-spacing: 1px;
}
.small-second {
    font-size: 12px;
    padding-left: 0.5rem;
    line-height: 18px;
    letter-spacing: 0.5px;
}
.table-contact {
   
    position: absolute;
    width:4rem;
    margin: auto;
    bottom:10px;
    left:1rem;
}
/* tr{
    background-color: #7B7676;
} */
/* tr:hover {
    background-color: #c7bfbf;
    border:#7B7676;
    
} */
td {
   
    height: 2rem;
    
}
input {
    background-color: #7B7676;
}
::placeholder {
    background-color: #7B7676;
}

.contact-title {
    width:15rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.name-input {
    width:100%;
}
.large {
    display:none;
}
@media( min-width:768px) {
    .table-contact {
        bottom:5%;
        width:20rem;
        height: 5rem;
    }
    .boldy-first {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1px;
    }
    .large {
        display:none;
    }
}
@media( min-width:1024px) {
    .boldy-first {
        font-size: 18px;
        padding-top: 2rem;
        line-height: 25px;
        letter-spacing: 4px;
    }
    .small-second {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 1px;
    }
    .table-contact {
        bottom:5%;
        width:25rem;
        height: 6rem;
    }
    .small {
        display:none;
    }
    .large {
        display: inline-block;
    }
   
}
@media( min-width:1440px){
    .boldy-first {
        font-size: 26px;
        line-height: 40px;
        letter-spacing: 6px;
        
    }
    .small-second {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 2px;
    }
    .table-contact {
        bottom:5%;
        width:20rem;
        height: 8rem;
        left:2rem;
    }
    .small {
        display:none;
    }
}
