.mygallery {
    background-color: #C4C4C4;
    margin:auto;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
} 
.title-gallery {
  background-color: none;
  width: 100%;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}
.card_inside {

   width:80%; 
    margin: auto;
    margin-bottom: 1rem;
    transition: transform .5s ease;
} 
.card_inside:hover {
  transform: scale(1.5);
  z-index: 1;
} 

