.cardPics-container {
    
    width:100%;
    height:auto;
    position: relative;
    margin: auto;
    padding:0;
    margin-bottom: 2rem;
    overflow-x: hidden;
}
  .all-pics {
    margin: 0.5rem ; 
    width:100%;
    height: auto;
    align-items: center;
}
.foto-card {
    width:100%;
    height: auto;
   
}
@keyframes toColor {
    0%    { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
    25%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
    50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
    75%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); }
    100%  { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
}


.foto-card{ 
   animation: toColor 10s;
}

.name-pics {   
 height:60px;
background-color: #C4C4C4; 
padding-top: 20px;
 font-size: small;
}   
/*edit page*/
.service-box-border {
    border:3px solid red;
    width:100%;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.firstServiceImage {
    border: 1px solid rgb(9, 0, 128);
    width:30%;
}