.cardPics-container {
    
    width:100%;
    height:auto;
    position: relative;
    margin: auto;
    margin-bottom: 2rem;
    overflow-x: hidden;
}
  .all-pics {
    margin: 0.5rem ; 
    width:auto;
    height: 90%;
    align-items: center;
}
.foto-card {
    width:100%;
    height: auto;
    
}


.name-pics {   
 height:60px;
background-color: #C4C4C4; 
padding-top: 20px;
 font-size: small;
}   