.second-container {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.foto-pic {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .foto-pic {
    display: none;
  }
  .second-box {
    width: 100%;
    height: auto;
    min-height: 20vh;
  }
  .foto {
    /* background-image: url(../images/tools.jpg); */
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
}

.foto-text {
  height: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #c4c4c4;
}
.welcome-text {
  padding-top: 1rem;
  letter-spacing: 3px;
  font-size: 18px;
  line-height: 30px;
}
.welcome-second {
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 1440px) {
  .welcome-text {
    padding-top: 1rem;
    letter-spacing: 3px;
    font-size: 20px;
    line-height: 30px;
  }
  .welcome-second {
    padding-top: 5px;
    letter-spacing: 1.5px;
    font-size: 14px;
    line-height: 25px;
  }
}

.input-edit{
  width:20rem;
  /* border:5px solid yellow; */
  z-index: 1;
}
.input-edit{
  margin-left: 2rem;
  width:20rem;
  /* border:5px solid rgb(8, 8, 8); */
  z-index: 1;
}

.text-input{
  box-shadow: 0 8px 16px 0 rgba(88, 73, 73, 0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
  border:3px solid rgb(59, 149, 190);
  background-color: rgb(149, 146, 146);
  color:#171717;
  font-weight: 600;
}
 .text-input:hover{
  background-color: rgba(75, 83, 109, 0.5);
  transform:translate(2px, 2px);
}
.text-input::placeholder {
  background-color: rgb(152, 181, 194);
  color:#171717;
}